<hr />
<article class="work">
  <h2 class="heading heading-2">Work experience</h2>
  <div class="work-container">
    <section>
      <h3 class="heading heading-3">Assistant store manager</h3>
      <span class="work-workplace">Eplehuset Aker Brygge</span>
      <span class="work-timeframe">September 2019 - July 2021</span>
    </section>
    <section>
      <h3 class="heading heading-3">Store employee (full time)</h3>
      <span class="work-workplace"> Eplehuset Storgata</span>
      <span class="work-timeframe">June 2015 - September 2019</span>
    </section>
    <section>
      <h3 class="heading heading-3">Store employee (part time)</h3>
      <span class="work-workplace">Kiwi Ryen</span>
      <span class="work-timeframe">September 2013 - June 2015</span>
    </section>
    <section>
      <h3 class="heading heading-3">seasonal employee</h3>
      <span class="work-workplace">Kiwi Kragerø</span>
      <span class="work-timeframe">2009 - 2014</span>
    </section>
  </div>
</article>

<style lang="scss">
  .work {
    margin: 2.5em 0;

    section {
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      margin-bottom: 3em;

      h3 {
        margin: 0 auto 0 0;
      }
      .work-workplace {
        font-style: italic;
      }
      .work-timeframe {
        font-weight: 600;
      }
    }
  }
</style>
