<hr />
<section class="edu">
  <h2 class="heading heading-2">Education</h2>
  <div class="edu-container">
    <h3 class="heading heading-3">Frontend development</h3>
    <div>
      <span>Noroff - School of technology and digital media</span>
      <span>August 2022 - June 2024 (ongoing)</span>
    </div>
  </div>
</section>

<style lang="scss">
  .edu {
    text-align: center;
    margin: 2.5em 0;

    h3 {
      margin-top: 0;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.75em;

      span:first-child {
        font-style: italic;
      }
    }
  }
</style>
