<hr />
<article class="edu">
  <h2 class="heading heading-2">All education</h2>
  <div class="edu-container">
    <section>
      <h3 class="heading heading-3">Frontend development</h3>
      <span class="edu-institute"
        >Noroff - School of technology and digital media</span
      >
      <span class="edu-timeframe">August 2022 - June 2024 (ongoing)</span>
    </section>
    <section>
      <h3 class="heading heading-3">
        Electrical engineer: <br />Informatics and automation
      </h3>
      <span class="edu-institute">
        University of South-Eastern Norway, Dept. Porsgrunn</span
      >
      <span class="edu-timeframe">August 2021 - June 2022</span>
    </section>
    <section>
      <h3 class="heading heading-3">
        Bachelor in music science / First year only
      </h3>
      <span class="edu-institute">Universitetet of Oslo</span>
      <span class="edu-timeframe">August 2014 - June 2015</span>
    </section>
    <section>
      <h3 class="heading heading-3">Year study in Sound Production</h3>
      <span class="edu-institute"
        >NISS - Nordic Institute for Stage and Studio</span
      >
      <span class="edu-timeframe">August 2013 - June 2014</span>
    </section>
    <section>
      <h3 class="heading heading-3">Music Production</h3>
      <span class="edu-institute">Manger folk high school</span>
      <span class="edu-timeframe">August 2012 - June 2013</span>
    </section>
    <section>
      <h3 class="heading heading-3">
        Music, dance and drama w/ specialization in music
      </h3>
      <span class="edu-institute">Skien high school</span>
      <span class="edu-timeframe">August 2009 - June 2012</span>
    </section>
  </div>
</article>

<style lang="scss">
  .edu {
    margin: 2.5em 0;

    section {
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      margin-bottom: 3em;

      h3 {
        margin: 0 auto 0 0;
      }
      .edu-institute {
        font-style: italic;
      }
      .edu-timeframe {
        font-weight: 600;
      }
    }
  }
</style>
