---

---

<section class="hero">
  <div class="hero-img-container">
    <img
      src="/images/portrait/portrait-memoji1.png"
      alt="An memoji of me"
      width={250}
      height={250}
      loading="lazy"
    />
  </div>
  <h1 class="hero-title">Hello, I am <span>Bjørnar!</span></h1>
  <p class="hero-para">
    I am a Frontend Developer
    <br />
    <span>Welcome to my portfolio!</span>
  </p>
  <div class="hero-some">
    <h2>Check me out on</h2>
    <div>
      <a
        href="https://www.linkedin.com/in/bj%C3%B8rnar-heian-langved-23157b246/"
      >
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
      <a href="https://github.com/bLangved">
        <i class="fa-brands fa-github fa-2xl"></i>
      </a>
    </div>
  </div>
</section>
